{% extends "base.html" %}
{% set show_admin_requests_link = False %}
{% block content %}
<h2>Admin Dashboard</h2>
<div class="mb-3 mt-3">
<a href="{{ url_for('admin_requests') }}" class="nav-button">Registration Requests</a>
<a href="{{ url_for('logout') }}" class="nav-button logout">Logout</a>
</div>
<table class="table">
    <thead>
        <tr>
            <th>Username</th>
            <th>Role</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td>{{ user.username }}</td>
            <td>{{ user.role }}</td>
            <td>
                <form method="POST" action="{{ url_for('delete_user', user_id=user.id) }}">
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}