{% extends "base.html" %}
{% set show_admin_requests_link = False %}
{% block content %}
<h2>Registration Requests</h2>
<div class="mb-3 mt-3">
<a href="{{ url_for('admin_dashboard') }}" class="nav-button">Back</a>
</div>
<table class="table">
    <thead>
        <tr>
            <th>Username</th>
            <th>Role</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for req in requests %}
        <tr>
            <td>{{ req.username }}</td>
            <td>{{ req.role }}</td>
            <td>{{ req.status }}</td>
            <td>
                {% if req.status == 'Pending' %}
                    <a href="{{ url_for('approve_request', request_id=req.id) }}" class="btn btn-success">Approve</a>
                    <a href="{{ url_for('reject_request', request_id=req.id) }}" class="btn btn-danger">Reject</a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}